.sidebar {
    margin-right: 30px;
}
.nav {
    position: relative;
    width: 100%;
    height: 100%;
    background: #222;
}
.nav ul {
    list-style: none;
    padding: 20px 15px;
    margin: 0px;
}
.nav ul li {
    position: relative;
    width: 100%;
    color: #FFF;
    margin-bottom: 15px;
}
.nav ul li a {
    color: #FFF;
    text-decoration: none;
    transition: .3s all;
}
.nav ul li a:hover {
    color: #ff553a;
}