html, body, *, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  min-height: 100%;
}
h1,h2,h3,h4,h5,h6,p,ul li, ol li {
  margin: 0px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.app-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: [header] auto [content] 1fr [footer] auto;
}
.main_content {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main_content .container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 250px auto;
}










@media screen and (max-width: 1199px) {

}